$bg-main: white;
$bg-card: white;

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    
    background-color: $bg-main;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    nav {
        a {
            margin: 20px;
        }
    }
}

.container {
    width: 90%;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
}

.category {
    width: 100vw;
    height: 100vh;
    @include center();
}

.card {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    margin: 20px;
    height: 350px;
    width: 250px;
    background-color: $bg-card;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform .2s;

    &:hover {
        transform: translateY(-5px) scale(1.02);
    }
    
    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .link-card {
        width: 100%;
        height: 100%;
    }

    .details {
        text-align: center;
    }
}

.details {
    img {
        height: 200px;
    }
}